header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 44px;
  background: linear-gradient(to right, #8b4513, #ffa500);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.cart-button {
  order: 1;
}

.btn-orange {
  background-color: #8b4513;
  border-color: #8b4513;
  color: #fff;
}

.btn-orange:hover {
  background-color: #ffa500;
  border-color: #ffa500;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#contenedorProductos {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 340px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2px;
  padding: 15px 0px;
  background-color: rgb(233, 184, 111);
}

.footer {
  padding-left: 30px;
}
